fastapi
uvicorn
sqlalchemy
psycopg2-binary
pgvector
python-dotenv
pydantic
python-multipart
pypdf
langchain
langchain-openai
langchain-huggingface
langchain-ollama
langchain-text-splitters
sentence-transformers
kokoro_onnx
soundfile
huggingface_hub[hf_xet]
ruff
mypy
pymupdf4llm
pymupdf
pymupdf-layout
celery[redis]
python-docx
python-pptx
Pillow
types-requests
types-python-dateutil
types-PyYAML
